<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body bgcolor="green">
    <center>
        <img src="/images/nammon.JPEG" alt="me" style="width: 300px; height: auto;"> <br>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
        <p>Email: {{ email }}</p>
        <p>Hobby: {{ hobby }}</p>
    </center>
</body>
</html>